<% @scms.each do |scm| %>
  <tr id="<%= dom_id scm %>">
    <td> <%= scm.item_name %> </td>
    <td> <%= scm.part_number %> </td>
    <td> <%= scm.in_shop %> </td>
    <td> <%= scm.get_toOrder %> </td>
    <td> <%= link_to "Edit", edit_scm_path(scm) %> </td>
    <td> <%= link_to "Delete", scm_url(scm), :class => "delete_link" %> </td>
  </tr>
<% end %>