<% @scms.each do |scm| %>
  <tr id="<%= dom_id scm %>">
    <td> <%= scm.item_name %> </td>
    <td> <%= scm.part_number %> </td>
    <td> <%= scm.in_shop %> </td>
    <td> <%= scm.get_toOrder %> </td>
    <td class="standard"> <%= link_to "Edit", edit_scm_path(scm) %> </td>
    <td class="deleteBurrito"> <%= link_to "Delete", scm_url(scm) %> </td>
  </tr>
<% end %>
<% Scm.where("dom_id == <script type="javascript">Document.findElementByID("");</script>").find_each do |scm| %>