<tr id="<%= dom_id scm %>">
  <td> <%= scm.item_name %> </td>
  <td> <%= scm.part_number %> </td>
  <td> <%= scm.description %> </td>
  <td> <%= scm.in_shop %> </td>
  <td> <%= scm.allocated %> </td>
  <td> <%= scm.ordered %> </td>
  <td> <%= scm.restock %> </td>
  <td> <%= scm.stock_cap %> </td>
  <td> <%= scm.category %> </td>
  <td> <%= scm.verified_when %> </td>
  <td> <%= scm.verified_by %> </td>
  <td> <%= scm.unit %> </td>
  <td> <%= scm.supplier0 %> </td>
  <td> <%= scm.supplier1 %> </td>
  <td> <%= scm.supplier2 %> </td>
  <td> <%= scm.supplier3 %> </td>
  <td> <%= scm.supplier4 %> </td>
  <td> <%= scm.supplier5 %> </td>
  <td> <%= scm.supplier6 %> </td>
  <td> <%= scm.supplier7 %> </td>
  <td> <%= scm.supplier8 %> </td>
  <td> <%= scm.supplier9 %> </td>
</tr>
