<html>
<head>
	<link rel="stylesheet" type="text/css" href="application.css"/>
</head>
<body>


<p class="goldtext">All items in the db:</p>
<table id="items">
	<thead>
		<th>Item Name</th>
		<th>Qty In Stock</th>
		<th>Qty To Order</th>
		<th>Part number</th>
	</thead>
	<tbody>
		<% @items.each do |item| %>
			<tr>
				<td class="aquatext"><%= item.get_itemName %></td>
				<td class="aquatext"><%= item.get_inStock %></td>
				<td class="aquatext"><%= item.get_toOrder %></td>
				<td class="aquatext"><%= item.get_partNumber %></td>
			</tr>
		<% end %>
	</tbody>
</table>

<%= render '/_form.html' %>

</body>
</html>