<!DOCTYPE html>
<html>
  <head>
    <title>Gopher</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>

      .menu {
        position: sticky;
        padding: 0px;
        background-color: #404040
      }
      .navbar_item {
        margin: 0px; 
        padding: 15px; 
        display: inline-block; 
        background-color: #606060;
      }
      a:link { 
        color: #FFD800;
        text-decoration:none;
      }
      a:visited { 
        color: #FFD800;
        text-decoration:none;
      }
      a:hover { 
        color: #FFD800;
        text-decoration:none;
      }
      a:active { 
        color: #FFD800;
        text-decoration:none;
      }
      .goldtext {
        color: #FFD800;
      }

    </style>
  </head>

  <body style="background-color:#181818">
    <%= render 'home/header' %>
    <%= yield %>
    <%= render 'home/footer' %>
  </body>
</html>
